{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}


{% block content %}
<p>{{ post.body }}</p>


<hr>
<h2>Simialr Posts</h2>
{% for post in similar_posts %}
<p>
    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
</p>
{% empty %}
There are no similar posts yet.
{% endfor %}
<hr>
<h2>Comments</h2>
{% for comment in post_comments %}
<p>
    {{ comment.comment }} by {{ comment.name }}
</p>
{% empty %}
There are no comments yet.
{% endfor %}

<hr>
<form action="{{ post.get_absolute_url }}" method="post">
    {{ comment_form }}
    {% csrf_token %}
    <input type="submit" class="button" value="Comment now">
    </form>

{% endblock %}


