{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}


{% block content %}
<p>{{ post.readtime }} minute read</p>
<p>{{ post.formatted_markdown|safe }}</p>



<hr>
<h2>Simialr Posts</h2>
{% for post in similar_posts %}
<p>
    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
</p>
{% empty %}
There are no similar posts yet.
{% endfor %}
<hr>
<h2>Comments</h2>
{% for comment in post_comments %}
<p>
    {{ comment.comment }} by {{ comment.name }}
</p>
{% empty %}
There are no comments yet.
{% endfor %}

<div>
    {% load social_share %}

    {% post_to_facebook post "Post to Facebook!" %}
    {% post_to_twitter "New Song: {{ post.title }}. Check it out!" post "Post to Twitter" %}
    {% post_to_gplus post "Post to Google+!" %}
    {% post_to_linkedin post.title post "Post to LinkedIn" %}
    {% send_email post.title "New Song: {{ post.title }}. Check it out!" post "Share via email" %}
    {% post_to_reddit "New Song: {{post.title}}" post%}
    {% post_to_telegram "New Song: {{post.title}}" post %}

</div>

<hr>
<form action="{{ post.get_absolute_url }}" method="post">
    {{ comment_form }}
    {% csrf_token %}
    <input type="submit" class="button" value="Comment now">
</form>

<hr>
    

{% endblock %}


